body{
    font-size:24px;
    color:#111517;
    font-family:Avenir;
    background-color:#DCE1E5
}
/* *{
    border: .25px solid #FEBC11;

}*/

a {
    color:#111517;
    text-decoration:none;
}
a:hover {
    color:#003660;
    text-decoration:none
}
/*.small-info {
    max-height:50%;
    overflow:scroll;

}
*/
.p {
    font-size:16px;
}